DJANGO_SECRET_KEY="CHANGE-ME"
DJANGO_DEBUG="True"
DJANGO_ALLOWED_HOSTS="127.0.0.1, localhost"
POSTGRES_DB="CHANGE-ME"
POSTGRES_USER="CHANGE-ME"
POSTGRES_PASSWORD="CHANGE-ME"
POSTGRES_HOST="db"
POSTGRES_PORT="5432"
